{{define "layout"}}
<!DOCTYPE html>
<html>
  <head>
  	{{template "head"}}
    <title>{{template "title" .}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset={{.Code}}"/>
    <link href="/static/css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat|Marck+Script" rel="stylesheet"> 
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="wrapper container">
		<header>
			<a href="/"><img src="/static/images/logo.png" alt="library-logo"></a>
			<form name="search" action="/search/" method="get" class="form-inline form-search pull-right">
				<div class="input-group">
					<label class="sr-only" for="searchInput">Search</label>
					<input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-primary">GO</button>
					</div>
				</div>
			</form>
		</header>
		
		{{template "body" .}}
		
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8 twitter">
					<h3>Заметки</h3>
					<time datetime="2012-10-23"><a href="#">26 июля</a></time>
					<p>
						Шаблон первой страницы успешно завершен
					</p>
				</div>
				<div class="col-md-4 sitemap">
					<h3>Карта сайта</h3>
					<div class="row">
						<div class="col-md-12">
							<a href="/home/">Основная</a>
							<a href="/about1/">О нас</a>
							
						</div>
						<div class="col-md-12">
							<a href="/add">Сервисы</a>
							<a href="/contact/">Контакты</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 social">
					<h3>Соц. сети</h3>
					<a href="http://twitter.com/" class="social-icon twitter"></a>
					<a href="http://vk.com/" class="social-icon facebook"></a>
					<a href="http://plus.google.com/" class="social-icon google-plus"></a>
					<a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
					<a href="http://youtube.com/" class="social-icon-small youtube"></a>
					<a href="http://flickr.com/" class="social-icon-small flickr"></a>
					<a href="http://instagram.com/" class="social-icon-small instagram"></a>
					<a href="/rss/" class="social-icon-small rss"></a>
				</div>
				<div class="col-md-7 footer-logo">
					<a href="/"><img src="/static/images/footer-logo.png" alt="library-logo"></a>
					<p>
						Copyright &copy; 2018 AntonCompany
						
					</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="/static/js/jquery-1.11.1.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   {{template "scripts"}}
  </body>
</html>
{{end}}