{{define "head"}}
{{end}}
{{define "title"}}О библиотеке{{end}}{{define "body"}}
<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li ><a href="/">Основная</a></li>
				<li class="active"><a href="/about1/">О нас</a></li>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сервисы <span class="caret"></span></a>
		          <ul class="dropdown-menu">

		            <li><a href="/add">Добавить книгу</a></li>
		            
		          </ul>
		        </li>
				 <li><a href="/library">Все книги</a></li>
				
			</ul>
		</nav>
<div class="heading">
			<h1>О нас</h1>
		</div>
		<div class="row">
			<aside class="col-md-7">
				<ul class="list-group submenu">
					<li class="list-group-item"><a href="/about1/">О библиотеке</a></li>
					<li class="list-group-item"><a href="/about2/">Цели</a></li>
					<li class="list-group-item active">Разработка</li>
					<li class="list-group-item"><a href="/about4/">Работа с сайтом</a></li>
				</ul>
				
			</aside>
			<section class=" col-md-17">
				<section class=" col-md-24">
				<div class="jumbotron">
					<blockquote>
						<div class="main">
							&ldquo;Век живи, век учись!&rdquo;
						</div class="main">
						<small>Народная пословица</small>
					</blockquote>
				</div>
			</section>
			<section class="col-md-offset-2">
				<li style = "color:#7d512d; ">
				<p>
					Создание этого сайта проходило в несколько этапов. Первый и наверное самый важный этап изучение языка Go, а также его особенностей. Что заняло у меня в общей сложности около 7 дней. После чего я приступил к "переписыванию" чужих сайтов с целью изучить основные механики подключений. 
				</p>
			</li>
				<li style = "color:#7d512d; ">
				<p>
					В общей сложности у меня получилось 6 сайтов каждый из которых отличается своей особенностью. Например один из сайтов отлично показывает правильную структуру написания кода, но не содержит почти никаких важных элементов. Другой наоборот полностью наполнен контентом, но особо не заморачивается со структурой.
				</p>
			</li>
				<li style = "color:#7d512d; ">
				<p>
					Я постарался соединить все особенности в этом веб приложении, чтобы получился полноценный сайт.
				</p>
				</li>
			</section>
			

				
			</section>
		</div>
	</div>
	{{end}}
{{define "scripts"}}
	   <script type="text/javascript">
   </script>
{{end}}