{{define "head"}}
{{end}}
{{define "title"}}О библиотеке{{end}}{{define "body"}}
<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li ><a href="/">Основная</a></li>
				<li class="active"><a href="/about1/">О нас</a></li>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сервисы <span class="caret"></span></a>
		          <ul class="dropdown-menu">

		            <li><a href="/add">Добавить книгу</a></li>
		           
		          </ul>
		        </li>
				  <li><a href="/library">Все книги</a></li>
				
			</ul>
		</nav>
<div class="heading">
			<h1>О нас</h1>
		</div>
		<div class="row">
			<aside class="col-md-7">
				<ul class="list-group submenu">
					<li class="list-group-item active">О библиотеке</li>
					<li class="list-group-item"><a href="/about2/">Цели</a></li>
					<li class="list-group-item"><a href="/about3/">Разработка</a></li>
					<li class="list-group-item"><a href="/about4/">Работа с сайтом</a></li>
				</ul>
				
			</aside>
			<section class="col-md-17">
				<div class="jumbotron">
					<blockquote>
						<div class="main">
							&ldquo;Во дни сомнений, во дни тягостных раздумий о судьбах моей родины, – ты один мне поддержка и опора, о великий, могучий, правдивый и свободный русский язык!.. Не будь тебя – как не впасть в отчаяние при виде всего, что совершается дома. Но нельзя верить, чтобы такой язык не был дан великому народу!&rdquo;
						</div>
						<small>И.С. Тургенев "Русский язык" (1882)</small>
					</blockquote>
				</div>
				<li style = "color:#7d512d; ">
				<p>
					Эта библиотека сделана для свободного чтения и обмена литературой. 
				</p>
					</li>
					<li style = "color:#7d512d; ">
				<p>
					Вся литература находится в свободном доступе так что вы можете просто наслаждаться книгой не выходя с нашего сайта.
				</p>
					</li>
					<li style = "color:#7d512d; ">
				<p>
					Спасибо за внимание!
				</p>
				</li>
			

				
			</section>
		</div>
	</div>
	{{end}}
{{define "scripts"}}
	   <script type="text/javascript">
   </script>
{{end}}